{% extends 'index.html' %}


{% block context %}

    <div class="row">
      <div class="col-md-offset-2 col-md-8  col-md-offset-2">
          <h2 class="featurette-heading">{{ article.article_title }}</h2>
          <h5 class="media-post-date">{{ article.article_date }}</h5>
        <p>{% autoescape off %}{{ article.article_full_text }}{% endautoescape %}</p>
      </div>
    </div>

    {% if article.article_link_on_original %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8  col-md-offset-2">
                {% if 'photo-albums' in  article.article_link_on_original%}
                    <p>Більше фотографій тут:&nbsp;
                        <a href="{{ article.article_link_on_original }}">{{ article.article_link_on_original }}</a>
                    </p>
                {% else %}
                    <p>Оригінал:&nbsp;
                      <a href="{{ article.article_link_on_original }}">{{ article.article_link_on_original }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}

  {% if article_images.count > 1 %}
    <div class="row">
{#    <div class="col-md-offset-2 col-md-8  col-md-offset-2">#}
      {% for img in article_images %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <ul class="thumbnails">
              <li class="span3 album-img">
                <a class="thumbnail" rel="lightbox[group]" href="{{ media_url }}{{ img.article_img.name }}">
                  <img class="group1 img-responsive" border="0" src="{{ media_url }}{{ img.article_thumb.name }}" alt=""/>
                </a>
              </li> <!--end thumb -->
            </ul><!--end thumbnails -->
            </div>
        {% endfor %}
    </div>
{#    </div>#}
  {% endif %}
{% endblock %}

