{% extends 'index.html' %}
{% load staticfiles %}
{% block context %}
    {% for article in articles %}
        <div class="media-news">
            <div class="row">
                <div id="news">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                      <div class="media-img img-overlay img-responsive">
                          <img src="{{ media_url }}{{ article.article_thumbnail }}" class="wp-post-image img-responsive" alt="port-etrusca" width="315px">
                      </div>
                    </div>
                    <div class="media-post col-xs-12 col-sm-8 col-md-8 col-lg-9">
                        <h3 class="media-post-title">
                            <a href="{% url 'article-detail' news_type article.id %}">
                                {{ article.article_title }}
                            </a>
                        </h3>
                       <h6 class="media-post-date">
                           {{ article.article_date }}
                       </h6>
                        <p>{{ article.article_short_text|truncatechars:"200" }}</p>
                        <p><a class="btn btn-default" href="{% url 'article-detail' news_type article.id %}" role="button">Читати »</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

<div class="row">
  <div class="col-md-6 col-md-offset-5 col-sm-8 col-sm-offset-4 col-xs-7 col-xs-offset-3">
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
              <a href="{% url 'news' news_type  %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        {% else %}
            <li class="disabled"><a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span></a>
            </li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <li class="active">
                    <a href="{% url 'news' news_type  %}?page={{ page }}">{{ page }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            {% else %}
                <li><a href="{% url 'news' news_type  %}?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li>
                <a href="{% url 'news' news_type  %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}

      </ul>
    </nav>
  </div>
</div>
{% endblock %}

