@font-face {
	font-family: 'CyrillicOld';
	src: url('../fonts/CyrillicOld.eot');
	src: local('☺'), url('../fonts/CyrillicOld.woff') format('woff'),
    url('../fonts/CyrillicOld.ttf') format('truetype'),
    url('../fonts/CyrillicOld.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothaProReg';
	src: url('../fonts/GothaProReg.eot');
	src: local('☺'), url('../fonts/GothaProReg.woff') format('woff'),
    url('../fonts/GothaProReg.ttf') format('truetype'),
    url('../fonts/GothaProReg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#header{
    font-family: 'CyrillicOld';
	height: 200px;
	background: #004526;
	font-size: 56px;
	padding: 5px;
	text-align: center;
	color: #fff;

}

#logotype{
    float: left;
    padding-left: 50px;
    box-sizing: border-box;
}

#header h1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 80px;
}

#header h3{
    margin-top: 0;
    font-size: 40px;
}

#content{
    margin: 10px;

}

.media-news{
    background: none repeat scroll 0 0 #fff;
    font-family: 'GothaProReg';
    font-size: 110%;
    margin-top: 40px;
    line-height: 1.6;
    height: auto;
    overflow: hidden;
    position: relative;
    padding-right: 20px;
}

.media-news h3{

    text-transform: uppercase;
    font-weight: 400;
}

.media-news p{
    margin: 0px 0px 10px;

}


.media-post{
    position: relative;
    padding-left: 25px;
}

.media-post-date{
    color: #f16358;
    text-transform: uppercase;
}

.media-img.img-overlay {
    position: relative;
    text-align: center;
    z-index: 4;
    transition: opacity 0.3s ease-out 0s;
    overflow: hidden !important;
    max-height: 210px;
    width: 315px !important;
    box-sizing: border-box;
}

.wp-post-image{
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}
.wp-post-image:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    overflow: hidden;
}


.media img {
    transform: scale(1, 1);
    transition-timing-function: ease-out;
    transition-duration: 2000ms;
    width: 100%;
    height: auto;
}


.prior{
    margin-bottom: 5px;
}


.prior img{
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 200px;
    width: 200px;
}

.our-contacts h2{
    margin-top: 0;
}

.cont span{
    font-size: 110%;
    line-height: 1.8;
    letter-spacing: 1px;
    white-space: normal;
}

.album-img{
list-style: None;
}



.photo_album_container{
  font-size: 13px;
	display: block;
    margin-top: 25px;
    width: 240px;
}
.img_link{
	position: relative;
	display: block;
	width: 240px;
	height: 172px;
	overflow: hidden;
	text-align: center;
	background: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

.photo_album_name a{
  text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.photo_album_container a img{
	border: 0px;
	vertical-align: top;
	max-height: 180px;
	overflow: hidden;
    opacity: 0.85;
}

.photo_album_container a img:hover{
    opacity: 1;
}

.photo_album_title{
	background: rgba(0, 0, 0, 0.5);
	color: white;
    font-weight: bold;
	position: absolute;
	top: 0px;
	width: 240px;
	margin-top: 175px;
	padding: 4px 0px 5px;
	line-height: 11px;
}

.photo_album_title div {
	margin: 0 7px;
}

.photo_album_name{
	float: left;
	text-align: left;
	line-height: 12px;
}

.album_photo_count{
	float: right;
}

#event-description{
   color: #f16358;
}

#footer{
	background: #004526;
	height: 200px;
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.122em;
	padding-top: 10px;
	color: #fff;
    margin-top: 20px;
}

.footer-info{
    text-align: center;
    font-size: 13px;
    clear: both;
}

.footer-info li{
    list-style-type: none;
    padding-left: 0;
}

.footer-info::before{
    content: "";
    width: 92px;
    background-color: #fff;
    margin: 18px auto;
    height: 1px;
    font-size: 1px;
    display: block;
}


#footer a{
    color: #fff;
}

.footer-social-buttons{
    margin-top: 20px;
    margin-left: 35px;
}


.button{
    display: inline-block;
	margin-right: 5px;
	width: 60px;
	height: 60px;
	background: #097243;
	cursor: pointer;

	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

	box-shadow: 0px 0px 0px 2px #FFF inset;

    -moz-box-shadow: 0px 0px 0px 2px #FFF inset;

	-webkit-box-shadow: 0px 0px 0px 2px #FFF inset;


}

.button:hover{
    background-color: #fff;
    color: #ffffff;
}

.button::after{
	content: '';
	width: 60px;
	height: 60px;
	display: block;
	opacity: .7;
}

.btn-vk::after{
	background: url('../img/vk-white-32.png') center no-repeat;
}

.btn-facebook::after{
	background: url('../img/facebook-32-white.png') center no-repeat;
}

.button:hover::after{
	background-position: center 52%;
}

.btn-vk:hover::after{
	background: url('../img/vk-green-32.png') center no-repeat;
}

.btn-facebook:hover::after{
	background: url('../img/facebook-32-green.png') center no-repeat;
}


@media screen and (max-width: 649px){
#logotype{
    display: none;
}
#content{
    margin: 0;
}
.col-xs-4{
    padding-left: 0;
    padding-right: 0;
}

.media-post{
    padding-left: 5px;
}

.thumbnail img {
  opacity: .95 !important;
}

.thumbnails > li {
    margin-left: 0 !important;
}

}

@media screen and (max-width: 480px){
.media-post{
    padding-left: 5px;

}


#header{
height: 120px;
}


#header h1{
    font-size: 46px;
    margin-top: 10px;
}
.carousel-caption, .carousel-indicators{
    display: none;
}

}
