<!-- ============= MODAL WINDOW ================ -->
{% if events %}
    <div class="modal-body">
        {% for key, evnt in events.items %}

            <h3 id="event-date" class="text-center">{{key}}</h3>

            {% for e in evnt %}
                <h2 id="event-description" class="text-center">{{ e.0 }}</h2>
                <h3 id="event-name-and-time"> {{e.1}} - {{e.2|time:"H:i"}}</h3>
            {% endfor %}

        {% endfor %}
    </div>
{% else %}
    <div class="modal-body">
        <h2>Немає</h2>
    </div>
{% endif %}