{% extends "index.html" %}

{% block context %}
<div class="row">
{% for prior in priors %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 placeholder">
      <div class="prior">
        <img class="img-circle img-responsive" src="{{ media_url }}{{ prior.prior_image }}" alt="{{ prior.prior_position }}">
        <h4><a href="{% url 'prior' prior.id %}">{{ prior.prior_position }} </a></h4>
        <span class="text-muted">{{prior.prior_short_discription}}</span>
      </div>
    </div>
{% endfor %}
</div>

{% endblock %}