{% extends 'index.html' %}

{% block context %}

  <div class="row">
      <div class="col-md-offset-2 col-md-8  col-md-offset-2">
        <h2 class="text-center">{{ prior.prior_short_discription }}</h2>
        <p class="text-justify ">
          <img src="{{ media_url }}{{ prior.prior_image }}" class="img-responsive prior-article-img" alt="" align="left"
      vspace="5" hspace="5" />
          {% autoescape off %}{{ prior.prior_biography }}{% endautoescape %}
        </p>
      </div>
  </div>

{% endblock %}