{% extends 'index.html' %}

{% block context %}
<div class="row">
    <div class="col-md-5 ">
    <div class="our-contacts">
        <h2>Наші контакти</h2>
        <p>
      <span class="cont">
        <span class="glyphicon glyphicon-home">&thinsp;Адреса:&thinsp;с.Соколівка&thinsp;вул.&thinsp;Центр&thinsp;1</span><br/>
        <span class="glyphicon glyphicon-earphone">&thinsp;Моб.&thinsp;38&thinsp;(095)&thinsp;001&thinsp;46&thinsp;91</span><br/>
        <span class="glyphicon glyphicon-phone-alt">&thinsp;Тел.&thinsp;38&thinsp;(03478)&thinsp;6&thinsp;23&thinsp;64</span><br/>
        <span class="glyphicon glyphicon-envelope">&thinsp;Email:<a href="mailto:cerkva.sokolivka@gmail.com">&thinsp;cerkva.sokolivka@gmail.com</a><br/>
        </span>
      </span>
        </p>
    </div>
    </div>
    <div class="col-md-7 ">
        <div class="map-style">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10618.154580482384!2d24.996062!3d48.292491!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0d4354841b2269b!2z0KHQvtC60L7Qu9GW0LLRgdGM0LrQsCDRhtC10YDQutCy0LA!5e0!3m2!1sru!2sus!4v1423147988015" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>
    </div>
</div>
{% endblock %}