{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="ezIR5wQB9pZgZs0VsrjlQbakIgEwZKaN0ZNHIPB32gc" />
    <meta name='yandex-verification' content='51841d20914b811f' />
    <meta name='wmail-verification' content='1c27d8f653562fddb0d8482574e69fcb' />
    <title>Соколівська парафія</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}">
    <link rel="stylesheet" href="{% static "css/my_style.css"%}" >
    <link rel="stylesheet" href="{% static "css/main.css"%}">
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>

    <script src="{% static "js/event_in_modal_window.js"%}"></script>
    <script src="{% static "js/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a>
            or <a href="http://www.google.com/chromeframe/?redirect=true">
                activate Google Chrome Frame</a>
            to improve your experience.</p>
        <![endif]-->

<div class="container-fluid">
   <nav class="navbar navbar-inverse navbar-fixed-top">


           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static "img/brand.png" %}" alt="Brand"/></a>
           </div>

           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                   <li >
                       <a href="{% url 'index' %}">
                           <span class="glyphicon glyphicon-home"></span>
                           Головна
                           <span class="sr-only">(current)</span>
                       </a>
                   </li>
                   <li class="dropdown">
                       <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                           <span class="glyphicon glyphicon-list-alt"></span>
                           Новини
                           <span class="caret"></span>
                       </a>
                       <ul class="dropdown-menu" role="menu">
                           <li><a href="{% url 'news' 'patriarch' %}?page=1">З життя Церкви</a></li>
                           <li><a href="{% url 'news' 'eparchy' %}?page=1">З життя Єпархії</a></li>
                           <li><a href="{% url 'news' 'deanery' %}?page=1">З життя Деканату</a></li>
                           <li><a href="{% url 'news' 'parish' %}?page=1">З життя Парафії</a></li>
                       </ul>
                   </li>

                   <li class="dropdown">
                       <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                           <span class="glyphicon glyphicon-comment"></span>
                           Оголошення
                           <span class="caret"></span>
                       </a>
                       <ul class="dropdown-menu" role="menu">
                           <li><a href="" onclick="get_events('liturgy', 'Розклад богослужінь')" data-toggle="modal" data-target="#myModal">Розклад богослужінь</a></li>
                           <li><a href="" onclick="get_events('wedding', 'Весілля')" data-toggle="modal" data-target="#myModal">Весілля</a></li>
                           <li><a href="" onclick="get_events('funeral', 'Похорон')" data-toggle="modal" data-target="#myModal">Похорон</a></li>
                       </ul>
                   </li>

                   <li>
                       <a href="{% url 'albums' %} ">
                           <span class="glyphicon glyphicon-camera"></span>
                           Фотоабольбоми
                       </a>
                   </li>
                   <li>
                       <a href="/contacts/">
                           <span class="glyphicon glyphicon-book"></span>
                           Контакти
                       </a>
                   </li>
                   <li><a href="{% url 'priors' %}">
                       <span class="glyphicon glyphicon-user"></span>
                       Про нас
                       </a>
                   </li>
                   <li>
                       <a href="/web-sites/">
                           <span class="glyphicon glyphicon-globe"></span>
                           Веб-сайти
                       </a>
                   </li>

               </ul>

               <form class="navbar-form navbar-right hidden" role="search">
                   <div class="form-group">
                       <input type="text" class="form-control" placeholder="Пошук">
                   </div>
                 <button type="submit" class="btn btn-default">
                     <span class="glyphicon glyphicon-search"></span></button>
               </form>


           </div><!-- /.navbar-collapse -->
    </nav><!-- End navbar -->

   <!-- Begin block Header -->


    <div class="row">
      <div id="header" class="clearfix">
           <div id="logotype" >
              <img  src="{% static "img/Untitled-2.png" %}" alt=""/>
           </div>
        <h1 class="text-center">Соколівська парафія</h1>
              <h3 class="hidden-xs">Українська православна церква Київський патріархат</h3>
      </div>
    </div>

   <!--End block Header -->
</div><!-- /.container-fluid -->




   	<!-- Begin block carusel -->

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    	<ol class="carousel-indicators">
    	  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    	  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    	  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    	</ol>

  		<!-- Wrapper for slides -->
  		<div class="carousel-inner" role="listbox">
      		<div class="item active">
      		  	<img class="img-responsive" src="{% static "img/carusel_1.jpg"%}" alt="">
                <div class="carousel-caption">
      		  	  	<!--<h1>СОКОЛІВСЬКОЇ ПАРАФІЇ</h1>
      		  	  	<h3>Українська Православна Церква</h3>
                    <h3>Київський Патріархат</h3>-->
      		  	</div>
      		</div>
      		<div class="item">
      		  	<img class="img-responsive" src="{% static "img/carusel_2.JPG"%}" alt="">
      		  	<div class="carousel-caption">
      		  	</div>
      		</div>
      		<div class="item">
      		  	<img class="img-responsive" src="{% static "img/carusel_3.png"%}" alt="">
      		  	<div class="carousel-caption">
      		  	</div>
      		</div>
    	</div>

    	<!-- Controls of carusel-->
    	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    	    <span class="sr-only">Previous</span>
    	</a>
    	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    	    <span class="sr-only">Next</span>
    	</a>
	</div>

	<!-- End block carusel -->

   <!-- ============= CONTENT ================ -->

    <div class="container-fluid">

			<div id="content">

                {% block context %}{% endblock %}

            </div>

    </div>


   <!-- ============= FOOTER ================ -->

    <div class="container-fluid">
		<div class="row">
			<div id="footer">

                <div class="footer-social-buttons">
                  <a href="http://vk.com/id259186950"><div class="button btn-vk" title="vkontakte"></div></a>
                  <a href="https://www.facebook.com/profile.php?id=100008359995940"><div class="button btn-facebook" title="facebook"></div></a>
                </div>

                <ul class="footer-info">
                    <li>Соколівка 2015 р.</li>
                    <li>
                      <h5><a href="#header">
                      <span class="glyphicon glyphicon-eject"> Вверх</span></a></h5>
                    </li>
                </ul>


			</div>
		</div>
	</div>



 <!-- ============= MODAL WINDOW ================ -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Розклад богослужінь</h4>
      </div>
      <div class="modal-body">
        <h2 id="event-date"></h2>
        <h1 id="event-name-and-time"> </h1>
        <p id="event-description"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>


   <!-- <script>window.jQuery || document.write('<script src="{% static "js/jquery-1.9.1.min.js"%}"><\/script>')</script> --->
   <!--  <script src="{% static "js/bootstrap.min.js" %}"></script>--->
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/jquery.prettyPhoto.js"%}"></script>

    <script src="{% static "js/main.js"%}"></script>


    <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));

            // Colorbox Call

            $(document).ready(function(){
                $("[rel^='lightbox']").prettyPhoto();
            });
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62265653-1', 'auto');
        ga('send', 'pageview');
    </script>

  </body>
</html>

