{% extends "index.html" %}

{% block context %}

<div id="web-sites" style="font-size: 16px; line-height: 1.5;">

  <p align="center"><span style="color: #F16358;"><strong><em>Загальноцерковні</em></strong></span></p>
  <ul>
    <li>УПЦ Київський Патріархат: Офіційний веб-сайт —&nbsp;<a href="http://patriarhat.kiev.ua/" target="_blank">www.cerkva.info</a></li>
  </ul>

  <p align="center"><span style="color: #F16358;"><em><strong>Єпархії</strong></em></span></p>
  <ul>
    <li>Вінницька єпархія – <a href="http://www.cerkva.vn.ua/" target="_blank">cerkva.vn.ua</a></li>
    <li>Волинська єпархія –&nbsp;<a href="http://www.pravoslavja.lutsk.ua/" target="_blank">pravoslavja.lutsk.ua</a></li>
    <li>Дніпропетровська єпархія –&nbsp;<a href="http://cerkva.dp.ua/" target="_blank">cerkva.dp.ua</a></li>
    <li>Донецька єпархія –&nbsp;<a href="http://www.cerkva.dn.ua/" target="_blank">cerkva.dn.ua</a></li>
    <li>Дрогобицько-Самбірська єпархія – <a href="http://drogobych-orthodox.info/ukr/">drogobych-orthodox.info</a></li>
    <li>Житомирська єпархія -&nbsp;<a href="http://zt-eparkh-kp.at.ua/">http://zt-eparkh-kp.at.ua/</a></li>
    <li>Закарпатська єпархії –&nbsp;<a href="http://www.cerkva.uz.ua/">http://www.cerkva.uz.ua/</a></li>
    <li>Запорізька єпархія —&nbsp;<a href="http://www.sobor.zp.ua/" target="_blank">sobor.zp.ua</a></li>
    <li>Івано-Франківська єпархія —&nbsp;<a href="http://pravoslavia.if.ua/" target="_blank">pravoslavia.if.ua</a></li>
    <li>Кіровоградська єпархія -&nbsp;<a href="http://www.cerkva-el.com.ua" target="_blank">cerkva-el.com.ua</a></li>
    <li>Кіцманська єпархія -&nbsp;<a href="http://cerkva.cv.ua" target="_blank">cerkva.cv.ua</a></li>
    <li>Коломийська єпархія - <a href="http://kolomija.com/" target="_blank">kolomija.com</a></li>
    <li>Кримська єпархія -&nbsp;<a href="http://cerkva-krim.at.ua/" target="_blank">cerkva-krim.at.ua</a></li>
    <li>Луганська єпархія&nbsp;<span style="font-size: 16px; line-height: 24px;">– </span><a href="http://ortodox.lg.ua/" target="_blank">http://ortodox.lg.ua/</a><a href="http://www.pomisna.in.ua/2013/07/osud.html"><br></a>Львівська єпархія&nbsp;–&nbsp;<a href="http://www.gradleva.com">www.gradleva.com</a></li>
    <li>Миколаївська єпархія - <a href="http://hram-nikolaev.com/">http://hram-nikolaev.com</a></li>
    <li><span style="line-height: 1.5;">Одеська єпархія -&nbsp;<a href="http://cerkvainfo.od.ua/">cerkvainfo.od.ua</a></span></li>
    <li><span style="line-height: 1.5;">Переяслав-Хмельницька єпархія –&nbsp;</span><a style="line-height: 1.5;" href="http://perejaslav.km.ua/" target="_blank">www.perejaslav.km.ua</a></li>
    <li>Полтавська єпархія — <a href="http://www.cerkva.pl.ua/" target="_blank">www.cerkva.pl.ua</a></li>
    <li>Рівненська єпархія —&nbsp;<a href="http://rivne-cerkva.rv.ua/" target="_blank">www.rivne-cerkva.rv.ua</a></li>
    <li>Сумська єпархія —&nbsp;<a href="http://www.pravoslavya.sumy.ua" target="_blank">www.pravoslavya.sumy.ua</a></li>
    <li>Тернопільсько-Бучацька єпархія —&nbsp;<a href="http://www.cerkva.te.ua/" target="_blank">www.cerkva.te.ua</a></li>
    <li>Тернопільсько-Кременецька єпархія —&nbsp;<a href="http://www.tk-eparhia.org.ua" target="_blank">www.tk-eparhia.org.ua</a></li>
    <li>Тернопільсько-Теребовлянська єпархія —&nbsp;<a href="http://www.tte.inf.ua/" target="_blank">www.tte.inf.ua</a></li>
    <li>Харківська єпархія — <a href="http://www.cerkva.kharkov.ua">cerkva.kharkov.ua</a></li>
    <li>Херсонська єпархія —&nbsp;<a href="http://pravoslav.tv/" target="_blank">pravoslav.tv</a></li>
    <li>Хмельницька єпархія —&nbsp;<a href="http://cerkva-km.info/" target="_blank">cerkva-km.info</a></li>
    <li>Чернівецька єпархія&nbsp;—&nbsp;<a href="http://orthodox-cv.org/">www.orthodox-cv.org</a></li>
    <li>Чернігівська єпархія —&nbsp;<a href="http://cerkva.in.ua" target="_blank">cerkva.in.ua</a></li>
    <li>Черкаська єпархія — <a href="http://cerkvacherkasy.info/" target="_blank">www.cerkvacherkasy.info</a></li>
    <li>Вікаріат УПЦ Київського Патріархату в США і Канаді —&nbsp;<a href="http://www.uockp.net/" target="_blank">www.uockp.net</a></li>
    <li>Німецький Деканат —&nbsp;<a href="http://www.ua.ukrainian-church.de">www.ua.ukrainian-church.de</a></li>
    <li>Екзархія в Греції - <a href="http://exarxiagreece-uk.blogspot.gr/">http://exarxiagreece-uk.blogspot.gr/</a></li>
  </ul>
  <p align="center"><span style="color: #F16358;"><em><strong>Відділи</strong></em></span></p>
  <ul>
  <li>Управління зовнішніх церковних зв'язків —&nbsp;<a href="http://www.kyivpat.org/" target="_blank">www.kyivpat.org</a></li>
  <li>Видавничий відділ —&nbsp;<a href="http://www.vydavnytstvo.org.ua/" target="_blank">www.vydavnytstvo.org.ua</a></li>
  <li>Синодальне управління у справах духовної освіти —&nbsp;<a href="http://www.kp-osvita.org.ua" target="_blank">www.kp-osvita.org.ua</a></li>
  <li>Синодальне управління духовно-патріотичного виховання у Збройних Силах та інших військових формуваннях України —&nbsp;<a href="http://www.kievpatrarmy.org.ua/" target="_blank">www.kievpatrarmy.org.ua</a></li>
  <li>Синодальне управління у справах молоді — <a href="http://kpmolod.org.ua/">http://kpmolod.org.ua/</a></li>
  <li>Синодальний відділ соціального служіння і благодійності - <a href="http://elios.org.ua/" target="_blank">www.</a><a href="http://elios.org.ua/">http://elios.org.ua/</a><a href="http://elios.org.ua/" target="_blank"></a></li>
  </ul>

  <p align="center"><span style="color: #F16358;"><em><strong>Навчальні заклади</strong></em></span></p>
  <ul>
    <li>Київська православна богословська академія —&nbsp;<a href="http://www.kda.org.ua" target="_blank">www.kda.org.ua</a></li>
    <li>Львівська православна богословська академія —&nbsp;<a href="http://lpba.org.ua/">www.lpba.org.ua</a></li>
    <li>Волинська православна богословська академія —&nbsp;<a href="http://www.vpba.org/" target="_blank">www.vpba.org</a></li>
    <li>Богословське відділення КПБА при ФТФ Чернівецького національного університету ім.Ю. Федьковича —&nbsp;<a href="http://www.bogoslov.cv.ua" target="_blank">www.bogoslov.cv.ua</a></li>
    <li>Рівненська духовна семінарія —&nbsp;<a href="http://seminaria.rv.ua/" target="_blank">seminaria.rv.ua</a></li>
    <li>Дніпропетровська духовна семінарія <span style="font-size: 12pt; font-family: 'Times New Roman';">–</span> <a href="http://seminaria.dp.ua/" target="_blank">www.seminaria.dp.ua</a></li>
  </ul>

  <p align="center"><span style="color: #F16358;"><em><strong>Монастирі</strong></em></span></p>
  <ul>
    <li>Києво-Михайлівський Золотоверхий чоловічий монастир —&nbsp;<a href="http://www.archangel.kiev.ua" target="_blank">www.archangel.kiev.ua</a></li>
    <li>Видубицький Свято-Михайлівський чоловічий монастир —&nbsp;<a href="http://www.monastyr.kiev.ua" target="_blank">www.monastyr.kiev.ua</a></li>
    <li>Феодосіївський ставропігійний чоловічий монастир —&nbsp;<a href="http://www.feodosij.org.ua/" target="_blank">www.feodosij.org.ua</a></li>
    <li>Георгіївський чоловічий монастир на Козацьких могилах — <a href="http://monastyr.in.ua/" target="_blank">http://monastyr.in.ua/</a></li>
    <li>Миколаївський чоловічий монастир м. Богуслав Київської єпархії —&nbsp;<a href="http://boguslav-monastery.org.ua/" target="_blank">boguslav-monastery.org.ua</a></li>
    <li>Манявський Скит Хресто-Воздвиженський Манявський чоловічий монастир&nbsp;— <a href="http://manyava.if.ua/">manyava.if.ua</a></li>
    <li>Михайлівський Скит, Манявського монастиря&nbsp; — <a href="http://skyt.if.ua/">skyt.if.ua</a></li>
    <li>Миколаївський чоловічий монастир с. Жидичин Волинської єпархії —&nbsp;<a href="http://chernectvo.org" target="_blank">chernectvo.org</a></li>
    <li>Воскресенський чоловічий монастир на Повстанських могилах ур. Гурби&nbsp;—&nbsp;<a href="http://www.gurby-monastyr.org.ua">www.gurby-monastyr.org.ua</a></li>
    <li>Феодорівський чоловічий монастир смт. Вапнярка, Вінницька обл. — <a href="http://feodor-monastyr.com.ua/">feodor-monastyr.com.ua</a></li>
  </ul>

  <p align="center"><span style="color: #F16358;"><em><strong>Парафії</strong></em></span></p>
  <ul>
    <li>Володимирський кафедральний патріарший собор, м. Київ –&nbsp;<a href="http://www.katedral.org.ua/" target="_blank">www.katedral.org.ua</a></li>
    <li>Храм Живоносного Джерела (Казанської ікони Божої Матері), м. Київ —&nbsp;<a href="http://www.hram.kiev.ua/" target="_blank">www.hram.kiev.ua</a></li>
    <li>Покровський храм на Солом`янці м. Києва—&nbsp;<a href="http://www.kievpatrarmy.org.ua/hram" target="_blank">www.kievpatrarmy.org.ua/hram/</a></li>
    <li>Храм Різдва Христового, м. Київ –&nbsp;<a href="http://hram-rizdva.org.ua/" target="_blank">hram-rizdva.org.ua</a></li>
    <li>Храм святого Миколая Чудотворця (церква Миколи Притиска), м. Київ –&nbsp;<a href="http://www.pritiska.org">www.pritiska.org</a></li>
    <li>Храм Успіння Пресвятої Богородиці "Пирогощої" – <a href="http://pyrogoscha.com.ua/">pyrogoscha.com.ua</a></li>
    <li>Храм святих первоверховних апостолів Петра і Павла на Берківцях, м. Київ&nbsp;–&nbsp;<a href="http://hspapp.kiev.ua/" target="_blank">http://hspapp.kiev.ua</a></li>
    <li>Парафія св. Серафима Саровського, м. Київ —&nbsp;<a href="http://users.iptelecom.net.ua/~parafija/" target="_blank">users.iptelecom.net.ua/~parafija</a></li>
    <li>Парафія Святого Архистратига Михаїла, Київ, Пирогів —&nbsp;<a href="http://www.parafia.org.ua/" target="_blank">parafia.org.ua</a></li>
    <li>Козацька церква Покрови Пресв. Богородиці, "МАМАЄВА СЛОБОДА", Київ —&nbsp;<a href="http://mamajeva-sloboda.ua/publ.php?category=37" target="_blank">mamajeva-sloboda.ua</a></li>
    <li>Парафія Введення в храм Пресвятої Богородиці — <a href="http://cerkva.kiev.ua/">cerkva.kiev.ua</a></li>
    <li>Парафія преподобного Миколи Святоші, м. Київ (Академмістечко)&nbsp; —&nbsp;<a href="http://svyatoshi.kiev.ua/" target="_blank">svyatoshi.kiev.ua</a></li>
    <li>Києво-Святошинське благочиння Київської єпархії —&nbsp;<a href="http://www.kievsvyat.kiev.ua">www.kievsvyat.kiev.ua</a></li>
    <li>Миколаїський храм, Книшовий меморіальний парковий комплекс м. Бориспіль —<a href="http://www.nikolashram.org.ua">www.nikolashram.org.ua</a></li>
    <li>Храм прп. Єфрема єпископа Переяславського, м. Переяслав-Хмельницький —&nbsp;<a href="http://hram.pp.ua/" target="_blank">hram.pp.ua</a></li>
    <li>Парафія "Покрова Божої Матері" с. Скибин Київської обл.&nbsp; — <a href="http://pokrova.p.ht">pokrova.p.ht</a></li>
    <li>Храм Різдва Пресвятої Богородиці с. Карапиші, Миронівського району — <a href="http://karapushi.in.ua/">karapushi.in.ua</a></li>
    <li>Храм святої Великомучениці Варвари, м. Фастів - <a href="http://fastivhram.com.ua/">http://fastivhram.com.ua/</a></li>
    <li>Відділ церковної благодійності і соціального служіння Дніпропетровської єпархії - <a href="http://dccss-upts-dp5.webnode.ru/">dccss-upts-dp5.webnode.ru</a></li>
    <li>Катеринівський кафедральний собор м. Чернігова&nbsp; — <a href="http://cathedral.ho.ua">cathedral.ho.ua</a> &nbsp;</li>
    <li>Покровська парафія в м. Бровари —&nbsp;<a href="http://www.pokrova-hram.org.ua/" target="_blank">www.pokrova-hram.org.ua</a></li>
    <li>Храм св. вмч. Димитрія Солунського, Церковно-етнографічний комплекс "Українське село", с. Бузова, Києво-Святошинський р-н. —&nbsp;<a href="http://www.hram.in.ua/" target="_blank">hram.in.ua</a></li>
    <li>Обухівське благочиння Київської єпархії —&nbsp;<a href="http://www.cerkva-obuhiv.org.ua/" target="_blank">www.cerkva-obuhiv.org.ua</a></li>
    <li>Храм Воздвиження Чесного Хреста, м. Луцьк —&nbsp;<a href="http://www.chesnohrest.lutsk.ua/" target="_blank">www.chesnohrest.lutsk.ua</a></li>
    <li>Михайлівський кафедральний собор м.Житомира —&nbsp;<a href="http://smk-sobor.org.ua/" target="_blank">smk-sobor.org.ua</a></li>
    <li>Костопільське благочиння Рівненської єпархії — <a href="http://kostopil-cerkva.org.ua/">kostopil-cerkva.org.ua</a></li>
    <li>Парафія Успіння Пресвятої Богородиці м. Охтирка - <a href="http://www.uspinnya-okhtyrka.in.ua/">http://www.uspinnya-okhtyrka.in.ua/</a></li>
    <li>Покровський храм в м. Чортків —&nbsp;<a href="http://sv-pokrova.com.ua/" target="_blank">sv-pokrova.com.ua</a></li>
    <li>Свято-Троїцький собор м. Тернополя — <a href="http://troickiy.com.ua" target="_blank">www.troickiy.com.ua</a></li>
    <li>Церква Святого Архистратига Михаїла м. Нововолинськ —&nbsp;<a href="http://cerkva-nv.com" target="_blank">cerkva-nv.com</a></li>
    <li>Храм Святої Покрови в м. Ніжин —&nbsp;<a href="http://pokrova.uacity.com/" target="_blank">pokrova.uacity.com</a></li>
    <li>Покровська парафія&nbsp;в&nbsp;м. Дніпродзержинськ —&nbsp;<a href="http://www.pokrova.ucoz.ua/">www.pokrova.ucoz.ua</a></li>
    <li>Роменське благочиння Сумської єпархії —&nbsp;<a href="http://orthodox-romny.at.ua" target="_blank">www.orthodox-romny.at.ua</a></li>
    <li>Всіхсвятська парафія, м. Рівне —&nbsp;<a href="http://parafiya.io.ua" target="_blank">www.parafiya.io.ua</a></li>
    <li>Софіївська парафія, м. Рівне —&nbsp;<a href="http://sofia-rivne.rel.org.ua/news.php" target="_blank">www.sofia-rivne.rel.org.ua</a></li>
    <li>Костопільське благочиння Рівненської єпархії —&nbsp;<a href="http://kostopil-cerkva.org.ua/" target="_blank">kostopil-cerkva.org.ua</a></li>
    <li>Радивилівське благочиння Рівненської єпархії -&nbsp;<a href="http://radyvyliv-cerkva.rv.ua/">radyvyliv-cerkva.rv.ua</a></li>
    <li>Собор Різдва Пресвятої Богородиці, м. Дубно (Страклів), Рівненська єпархія —&nbsp;<a href="http://soborboogorod.at.ua/" target="_blank">soborboogorod.at.ua</a></li>
    <li>Храм Усіх святих землі Української, м. Львів&nbsp;— <a href="http://www.hram.lviv.ua/h.html">www.hram.lviv.ua/h.html</a></li>
    <li>Княжий храм Святого Миколая Чудотворця, м. Львів&nbsp;— <a href="http://mykolaj.lviv.ua/">mykolaj.lviv.ua</a></li>
    <li>Cвято-Духівський храм Миколаївської єпархії - <a href="http://hram.mk.ua/" target="_blank">hram.mk.ua</a></li>
    <li>Храм Св. Петра Могили Собор Успіння Пресв.Богородиці м. Маріуполь —&nbsp;<a href="http://www.cerkvamaria.ucoz.ua/" target="_blank">cerkvamaria.ucoz.ua</a></li>
    <li>Храм Всіх Святих землі Української, м. Хмельницький —&nbsp;<a href="http://agios.com.ua/" target="_blank">agios.com.ua</a></li>
    <li>Свято-Троїцький храм, м. Красилів Хмельницька єпархія — <a href="http://cerkva-krs.io.ua/">cerkva-krs.io.ua</a></li>
    <li>Свято-Духівський храм, м. Дніпропетровськ —&nbsp;<a href="http://svdh.dp.ua/" target="_blank">svdh.dp.ua</a></li>
    <li>Координаційна рада отаманів православного козацтва Дніпропетровської області&nbsp;Дніпропетровської єпархії УПЦ КП - <a href="http://otkozachestvod.jimdo.com/">otkozachestvod.jimdo.com</a></li>
    <li>Свято-Троїцький храм, Криворізьке благочиння, м. Кривий Ріг - <a href="http://nashhram.jimdo.com/" target="_blank">nashhram.jimdo.com</a></li>
    <li>Храм святого апостола Іоана Богослова, м. Харкова — <a href="http://www.bogoslov.kharkov.ua/">bogoslov.kharkov.ua</a></li>
    <li>Храм святого благовірного князя Ярослава Мудрого у м. Дніпропетровську - <a href="http://www.st-yaroslav.dp.ua">www.st-yaroslav.dp.ua</a></li>
    <li>Парафія козаків Спаса Нерукотворного Дніпропетровської єпархії -<a href="http://paraf-ya-spasa-nerukotvornogo.webnode.ru/" target="_blank"> paraf-ya-spasa-nerukotvornogo.webnode.ru</a></li>
    <li>Парафія Успіння Пресвятої богородиці с. Угринь Чортківського р-ну, Тернопільської&nbsp; обл. - <a href="http://ugruny.at.ua/">ugruny.at.ua</a></li>
    <li>Великомихайлівське, Ширяєвське, Котовське благочиння, Одесько-Балтської єпархії - <a href="http://cerkva-online.com/index.php/uk/" target="_blank">cerkva-online.com/index.php/uk/</a></li>
    <li>Парафія Святого апостола Андрія Первозванного в місті Блумінґдейл, Іллінойс (США) —<a href="http://www.standrewuoc.com/" target="_blank">www.standrewuoc.com</a></li>
    <li>Парафія Святого Преображення в місті Панама Сіті, Флорида (США) —&nbsp;<a href="http://www.orthodoxchapel.org/" target="_blank">www.orthodoxchapel.org</a></li>
    <li>Свято-Троїцька парафія міста Бриджпорт штату Коннектикут (США) —&nbsp;<a href="http://cerkva-usa.info/" target="_blank">cerkva-usa.info</a></li>
    <li>Собор Вознесіння Господнього в Кліфтоні (Нью Джерсі, США) —&nbsp;<a href="http://www.cliftonorthodoxcathedral.org/" target="_blank">cliftonorthodoxcathedral.org</a></li>
    <li>Парафія Святого Великомученика Юрія Переможця (Вілліен, Іліной, США) —&nbsp;<a href="http://www.molytva.com/" target="_blank">molytva.com</a></li>
  </ul>

  <p align="center"><span style="color: #F16358;"><em><strong>Братства</strong></em></span></p>
  <ul>
    <li>Київське молодіжне православне братство —&nbsp;<a href="http://kyivbratstvo.narod.ru/" target="_blank">www.kyivbratstvo.org.ua</a></li>
    <li>Апологетичне товариство св. мч. Іустина Філософа —&nbsp;<a href="http://www.apologet.kiev.ua/" target="_blank">www.apologet.kiev.ua</a></li>
    <li>Православне Молодіжне Братство Преподобного Миколи Святоші, Князя Луцького —<a href="http://www.pramol.rel.org.ua/news.php" target="_blank">www.pramol.rel.org.ua</a></li>
    <li>Калуське молодіжне православне братство прп. Іова та Феодосія Манявських —<a href="http://www.kalushbratstvo.if.ua/" target="_blank">www.kalushbratstvo.if.ua</a></li>
    <li>Ніжинське православне молодіжне братство свт. Іоана Тобольського —&nbsp;<a href="http://www.orthodox-nezhin.org.ua/" target="_blank">www.orthodox-nezhin.org.ua</a></li>
    <li>Львівське православне молодіжне братство Пресвятої Богородиці на честь ікони Її "Нев'янучий Цвіт" - <a>www.hram.lviv.ua/br.html</a></li>
    <li>Братство святого архістратига Михаїла — <a href="http://bratstvo-arhmyhaila.org.ua/">bratstvo-arhmyhaila.org.ua</a></li>
  </ul>

  <p style="text-align: center;"><span style="color: #F16358;"><em><strong>Недільні школи</strong></em></span></p>
  <ul>
    <li>Мережа недільних шкіл Української Православної Церкви Київського Патріархату — <a href="http://www.chado-bozhe.com.ua">www.chado-bozhe.com.ua</a></li>
  </ul>
  <p align="center"><span style="color: #F16358;"><em><strong>Портали</strong></em></span></p>
  <ul>
    <li>«Українське Православ’я», відкрите інформаційно-аналітичне видання —&nbsp;<a href="http://www.uaorthodox.info" target="_blank">www.uaorthodox.info</a></li>
    <li>"Православний погляд" –&nbsp;<a href="http://www.poglad.org.ua">www.poglad.org.ua</a></li>
    <li>Інтенет-журнал "ЕММАУС" -&nbsp;<a href="http://emmaus.com.ua/">emmaus.com.ua</a></li>
    <li>Православний духовний центр м. Буча Київської області –&nbsp;<a href="http://www.agnec.in.ua/" target="_blank">agnec.in.ua</a></li>
    <li>"Православний Херсон" —&nbsp;<a href="http://www.cerkva.ks.ua" target="_blank">www.cerkva.ks.ua</a></li>
    <li>"Православний портал – LOGOS.UA" –&nbsp;<a href="http://www.logos.at.ua/" target="_blank">www.logos.at.ua</a></li>
    <li>Православний сайт для дітей "Писанка" –&nbsp;<a href="http://velikden.ks.ua/" target="_blank">velikden.ks.ua</a></li>
    <li>Православний апологетичний духовно-просвітницький портал "Одигитрія" –&nbsp;<a href="http://www.odigitrya.at.ua">www.odigitrya.at.ua</a></li>
    <li>Православний молодіжний веб-портал&nbsp;"Hram.Lviv.Ua" - <a href="http://www.hram.lviv.ua">www.hram.lviv.ua</a></li>
  </ul>
</div>

{% endblock %}