{% extends "index.html" %}

{% block context %}
<!-- Images  -->
<div class="row">
    <div class="col-md-12 ">
        <h3>{{ album.title }}</h3>
        <h5 class="media-post-date">{{ album.created }}</h5>

        {% for img in images %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <ul class="thumbnails">
              <li class="span3 album-img">
                <a class="thumbnail" rel="lightbox[group]" href="{{ media_url }}{{ img.image.name }}">
                  <img class="group1" border="0" src="{{ media_url }}{{ img.thumbnail2.name }}" alt=""/>
                </a>
              </li> <!--end thumb -->
            </ul><!--end thumbnails -->
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}