{% extends "index.html" %}

{% block context %}

  <!-- Albums -->
 <h3>Фотоальбоми:</h3>
<div class="row">

  {% for album in albums%}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="photo_album_container">
            {% for img in album.images %}
                <a class="img_link" href="{% url 'album' album.id %}">
                  <img class="img-responsive" src="{{ media_url }}{{ img.thumbnail2.name }}" alt=""/>
                </a>
            {% endfor %}
        <div class="photo_album_title">
            <div class="photo_album_name">
                <a href="{% url 'album' album.id %}">{{ album.title|truncatechars:"20" }}</a>
            </div>
            <div class="album_photo_count">
                {{ album.image_set.count }} <span class="glyphicon glyphicon-camera"></span>
            </div>
         </div>
        </div>
      </div>
  {% endfor %}
</div>



<!-- Paginator -->

<div class="row">
  <div class="col-md-6 col-md-offset-5 col-sm-8 col-sm-offset-4 col-xs-7 col-xs-offset-5">
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        	<li>
              <a href="{% url 'albums' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        {% else %}
            <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <li class="active">
                	<a href="{% url 'albums' %}?page={{ page }}">
                		{{ page }}
                		<span class="sr-only">(current)</span>
                	</a>
                </li>
            {% else %}
                <li><a href="{% url 'albums' %}?page={{ page }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li>
          		<a href="{% url 'albums' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
            		<span aria-hidden="true">&raquo;</span>
          		</a>
        	</li>
       	{% else %}
       		<li class="disabled"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>


{% endblock %}